@charset "utf-8";
/* CSS Document */

	

				@-webkit-keyframes enter {
					0%   { left: -50%; }
					25%  { left: 60%;  transform: rotate($keyframeRotate) translate($keyframeTranslateX, $keyframeTranslateY); }
					35%  { left: 50%;  transform: translate($keyframeTranslateX, $keyframeTranslateY); }
					65%  { left: 50%;  transform: scale($keyframeScaleX, $keyframeScaleY); }
					75%  { left: 50%; }
					100% { left: -50%;}
				}
				
				@-moz-keyframes enter {
					0%   { left: -50%; }
					25%  { left: 60%;  transform: rotate($keyframeRotate) translate($keyframeTranslateX, $keyframeTranslateY); }
					35%  { left: 50%;  transform: translate($keyframeTranslateX, $keyframeTranslateY); }
					65%  { left: 50%;  transform: scale($keyframeScaleX, $keyframeScaleY); }
					75%  { left: 50%; }
					100% { left: -50%;}
				}
				
				@keyframes enter {
					0%   { left: -50%; }
					25%  { left: 60%;  transform: rotate($keyframeRotate) translate($keyframeTranslateX, $keyframeTranslateY); }
					35%  { left: 50%;  transform: translate($keyframeTranslateX, $keyframeTranslateY); }
					65%  { left: 50%;  transform: scale($keyframeScaleX, $keyframeScaleY); }
					75%  { left: 50%; }
					100% { left: -50%;}
				}