@charset "utf-8";
/* CSS Document */

		@mixin headingTransitionMix( $transitionTiming, $transitionProp, $transitionDuration) {
			-webkit-transition-property: $transitionProp;
					-webkit-transition-duration: $transitionDuration;
					-webkit-transition-timing-function: $transitionTiming;
					
					-moz-transition-property: $transitionProp;
					-moz-transition-duration: $transitionDuration;
					-moz-transition-timing-function: $transitionTiming;
					
					
					transition-property: $transitionProp;
					transition-duration: $transitionDuration;
					transition-timing-function: $transitionTiming;
		}
		
		@mixin headingTransformMix($headingRotate) {
			-ms-transform: rotate($headingRotate); 
					-webkit-transform: rotate($headingRotate); 
					transform: rotate($headingRotate);
		}
		
		@mixin advertAniMix($aniName, $aniTime, $aniIteration) {
			-webkit-animation: $aniName $aniTime $aniIteration;
					animation: $aniName $aniTime $aniIteration;
		}