@charset "utf-8";
/* CSS Document */

$color1: #c7c7c7;
$color2: #db500a;
$color3: #3a2613;
$transitionTiming: linear;
$transitionProp: color background-color transform;
$transitionDuration: 1s;
$headingRotate: 20deg;
$aniName: enter;
$aniTime: 25s;
$aniIteration: 1;
$keyframeRotate: -720deg;
$keyframeTranslateX: 25px;
$keyframeTranslateY: 10px;
$keyframeScaleX: 1.25;
$keyframeScaleY: 1.25;



				body {
					background-image: url(images/sample1.jpg);
					background-repeat: no-repeat;
					background-color: black;
					overflow: hidden;
				}
				
				
				
				h1 {
					color: white;
				}
			
			@import 'sassAdvertEffectMixin';
			@import 'advertKeyframeMixin';
				
				.advert {
					position: absolute;
					left: -100%;
					margin: 5em -250px;
					width: 425px;
					height: 375px;
					font-size: 0.9em;
					background-color: $color3;
					color: $color1;
					border: 3px solid $color2;
					text-align: center;
					@include advertAniMix($aniName, $aniTime, $aniIteration);
				}	
				
				
				
				.advert p {
					display: inline;
				}
				
				
				.advert h2 {
					color: $color2;
					@include headingTransitionMix($transitionTiming, $transitionProp, $transitionDuration);	
				}
				
				.advert:hover h2 {
					color: #ff5050;
					background-color: $color1;
					@include headingTransformMix($headingRotate);
				}